
#alias ls="ls --color=auto"
alias ls="eza"
alias grep="grep --color=auto"
alias backup="rsync -avrz /home/andreas/ --exclude '.cache' --exclude '.nvm' --exclude '.cargo' --exclude '.npm' --exclude 'Downloads' cloud:/media/storage/rsync/${HOSTNAME} --delete-excluded"

alias cp="cp -ia"
alias ll="ls -la"
alias mv="mv -i"
alias b="btop"
alias c="clear"
alias e="exit"

alias ranger="yy"

alias g="git"
alias ga="git add"
alias gaa="git add --all"
alias gap="git add --patch"
alias gapp="git apply"
alias gb="git branch --verbose"
alias gbr="git branch --verbose --remotes"
alias gbd="git branch --delete"
alias gbD="git branch --delete --force"
alias gc="git commit -m"
alias gca="git commit --amend"
alias gcl="git clone"
alias gco="git checkout"
alias gcot="git checkout --theirs"
alias gcp="git cherry-pick --strategy-option theirs"
alias gcpx="git cherry-pick --strategy-option theirs -x"
alias gd="git diff"
alias gds="git diff --staged"
alias gf="git fetch"
alias gi="git init"
alias gl="git log --oneline --decorate --graph -n 10"
alias gm="git merge"
alias gp="git push"
alias gpu="git pull"
alias gr="git reset HEAD~"
alias gR="git restore"
alias gRs="git restore --staged"
alias gra="git remote add"
alias gre="git remote --verbose"
alias grh="git reset HEAD"
alias grr="git reset --hard HEAD~"
alias grb="git rebase --interactive"
alias grbc="git rebase --continue"
alias gs="git status"
alias gsma="git submodule add"
alias gsmu="git submodule update --init --remote --recursive"
alias gst="git stash"
alias gstp="git stash pop"
alias gsw="git switch"
alias gt="git tag"
alias gts="git tag -s"

alias n="nvim"
alias vim="nvim"
alias t="tmux"
alias r="ranger"   
